.screen-image {
    width: 100%;
    height: 740px;
    }

.bestbakery{
  color: rgb(224, 140, 71);
}

img {
    max-width: 100%;
    height: auto;
  }
.sabari{
    color: rgb(224, 140, 71);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .product{
    font-family:serif;
    font-weight: bold;
    
  }
  .categories{
    font-family:serif;
    font-weight: bold;
  }

  .money{
    
    color: darkorange;
  }
    .aboutimg{
      height: 599px;
    }

  .text-overlay{
    position: absolute;
    top: 60%; 
    left: 30%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    text-align:left;
  }
  .containerimage::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 740px;
    background: rgba(0, 0, 0, 0.5);
  }
 
  .bakewith{
    font-size: 80px;
    font-family:serif;
  }
  .cookies{
    font-family:serif;
    font-size: 40px;
  }
  .cake-footer {
    position: relative;
    background-image: url('./image/cakefooter.jpg');
    background-size: cover; 
    background-position: center; 
    color: #fff;
    
  }
  
  .cake-footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.788); 
    
  }
  
  
  .container {
    position: relative;
    z-index: 2;
  }
  
  
  .cake-footer h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .cake-footer p,
  .cake-footer address {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .cake-footer ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .cake-footer ul li {
    margin-bottom: 0.5rem;
  }
  
  .cake-footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .cake-footer ul li a:hover {
    text-decoration: underline;
  }
  
  .cake-footer .row {
    margin-top: 3rem;
  }